%h1 Смена пароля
%hr
= form_for([:teamleader, @user], :url => update_password_teamleader_user_path(@user), :html => {:class => 'well form-horizontal', :multipart => true}) do |u|
  -if @user.errors.any?
    #error_explanation.alert.alert-error
      %a.close{"data-dismiss" => "alert", :href => "#"}
        ×
      %h2 Возникли ошибки:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = label_tag :current_password, 'Старый пароль', :class => 'control-label'
      .controls
        = u.password_field :current_password, :class => 'input-xlarge'
    .control-group
      = u.label :password, 'Новый пароль', :class => 'control-label'
      .controls
        = u.password_field :password, :class => 'input-xlarge'
    .control-group
      = u.label :password_confirmation, 'Подтверждение', :class => 'control-label'
      .controls
        = u.password_field :password_confirmation, :class => 'input-xlarge'
    .form-actions
      = u.submit 'Изменить', :class => 'btn btn-primary'
      = link_to 'Назад', teamleader_users_path, :class => 'btn'