%h1= @user.full_name

%hr

.well.form-horizontal
  %fieldset
    .control-group
      %label.control-label
        Фото
      .controls
        = image_tag (@user.avatar(:thumb) != "/avatars/thumb/missing.png" ? @user.avatar(:thumb) : "no_avatar.gif")
    .control-group
      %label.control-label
        Роль
      .controls
        %span.input-xlarge.uneditable-input= @user.role
    .control-group
      %label.control-label
        Email
      .controls
        %span.input-xlarge.uneditable-input= @user.email
    .control-group
      %label.control-label
        Телефон
      .controls
        %span.input-xlarge.uneditable-input= @user.phone
    .control-group
      %label.control-label
        Skype
      .controls
        %span.input-xlarge.uneditable-input= @user.skype
    .control-group
      %label.control-label
        Дата рождения
      .controls
        %span.input-xlarge.uneditable-input= @user.birthday
    .control-group
      %label.control-label
        График работы
      .controls
        %span.input-xlarge.uneditable-input= @user.daily
    .control-group
      %label.control-label
        Менеджер
      .controls
        %span.input-xlarge.uneditable-input Олеговна
    .control-group
      %label.control-label
        Заказчик
      .controls
        %span.input-xlarge.uneditable-input= @user.employer
    .control-group
      %label.control-label
        oDesk аккаунт
      .controls
        %span.input-xlarge.uneditable-input
          = link_to nil, @user.odesk
    .control-group
      %label.control-label
        Информация
      .controls
        %span.input-xxlarge.uneditable-input{:readonly => 'readonly', :style => 'height:200px;overflow:auto'}= @user.info.html_safe
    .form-actions
      = link_to edit_teamleader_user_path(@user), :class => 'btn btn-inverse' do
        %i.icon-pencil
        Редактировать
      = link_to edit_password_teamleader_user_path(@user), :class => 'btn' do
        %i.icon-pencil
        Изменить пароль
