%h1= "Навыки #{@user.full_name}"
%hr
  %table#skills
    - @skills.each do |skill|
      = render(:partial => 'admin/skills/skill', :locals => { :@editable => @editable, :skill => skill })

  - if @editable
    %hr
    %h1= "На удаление"
    %table#deleted

    %hr
    = collection_select :skill, :new, @skill_list, :id, :name
    = link_to "+", "#", :class => "add_skill"

  -if can?(:manage, SkillUserRelation) && !@editable
    = link_to edit_admin_user_skills_path(@user), :class => 'btn' do
      %i.icon-pencil
      Редактировать навыки