%h1= "Выберите тему голосования:"
%hr
%p
  = link_to "Создать новый опрос", new_teamleader_poll_path, :class => "btn"

%table.table.table-striped.pretty
  %tbody
  -@polls.each do |poll|
    %tr
      %td
        = link_to poll.question, teamleader_poll_path(poll.id)
      %td
        - if poll.end_at < DateTime.current
          = "голосование окончено"
        - elsif voted_set(poll)
          = "проголосовал(а)"
        - else
          = "окончание голосования:  #{poll.end_at.strftime("%d %B %Y")}"
      %td
        -if poll.user_id.eql?current_user.id
          = link_to teamleader_poll_path(poll), :method => :DELETE, :class => "btn btn-danger", :confirm => "Ты уверен?" do
            %i{:class => "icon-remove"}
            Удалить