= form_for([:teamleader, @task], :html => {:class => 'well form-horizontal', :multipart => true}) do |t|
  -if @task.errors.any?
    #error_explanation.alert.alert-error
      %a.close{"data-dismiss" => "alert", :href => "#"}
        ×
      %h2 Возникли ошибки:
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = t.label :title, 'Название', :class => 'control-label'
      .controls
        = t.text_field :title, :class => 'input-xlarge'
    .control-group
      = t.label :description, 'Описание', :class => 'control-label'
      .controls
        = t.text_area :description, :class => 'input-xxlarge', :id => 'nic', :style => "height:200px"
    .form-actions
      = t.submit (@task.id?) ? 'Изменить' : 'Создать' , :class => 'btn btn-primary'
      = link_to 'Назад', teamleader_users_path, :class => 'btn'