= form_for @search, :url => internet_pings_path, :html => {:method => :get, :class => 'well form-horizontal'} do |f|
  .input-medium.search-query{:type => "text"}
    %p
      = f.label :url_equals, "Выберите Url"
      = select_tag :url_equals, options_from_collection_for_select(@domains, :id, :url), :prompt => 'Выбрать url', :include_blank => true, :name => "search[ping_id_equals]"
    %p
      = f.label :status_equals, "Введите статус"
      = f.text_field :status_equals
    %p
      = f.label :up_between, "Поиск по дате"
      = f.text_field :up_between, :class => "datepicker"
    %button.btn{:type => "submit"} Найти
    = link_to "Сбросить", internet_pings_path, :class => 'btn btn-inverse'