%h1 Список логов

%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th= sort_link @search, :url, "Url"
        %th= sort_link @search, :status, "Status"
        %th= sort_link @search, :up, "Up"
        %th= sort_link @search, :down, "Down"
    %tbody
      - @internet_pings.each do |internet_ping|
        %tr
          %td= link_to internet_ping.ping.url, internet_ping.ping.url
          -if internet_ping.status == "critical"
            %td
              %span.red-text= internet_ping.status
          -else
            %td= internet_ping.status
          %td= internet_ping.up
          %td= internet_ping.down

- content_for :sidebar, render(:partial => 'sidebar')
- content_for :sidebar, render(:partial => 'clear_logs')

= will_paginate @internet_pings, :class=>"pagination pagina  tion-centered"