%h1 Список логов

%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th Url
        %th Status
        %th Up
        %th Down
    %tbody
      - @internet_pings.each do |internet_ping|
        %tr
          %td= internet_ping.ping.url
          %td= internet_ping.status
          %td= internet_ping.up
          %td= internet_ping.down

-#- content_for :sidebar, render(:partial => 'sidebar')

= will_paginate @internet_pings, :class=>"pagination pagina  tion-centered"