- @material_requests.each do |material_request|
  = "Сотрудник #{material_request.user.full_name} подал запрос на '#{material_request.name}'.".html_safe
  = "Для потверждения перейдите по #{link_to "данной ссылке", teamleader_material_request_approve_url(material_request)}<br>".html_safe