= "Сотрудник #{@material_request.user.full_name} подал запрос на '#{@material_request.name}'."
= "Пожалуйста #{link_to "подтвердите", teamleader_material_request_approve_url(@material_request)} данную заявку".html_safe