%h1 Компьютеры

%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th= sort_link @search, :name, "Имя ПК"
        %th= sort_link @search, :ip, "IP"
        %th= sort_link @search, :mac, "MAC"
        %th Офис
        %th= sort_link @search, :user_id, "Пользователь"
        %th 
          = link_to new_desktop_path, :class => "btn btn-success" do
            %i{:class => "icon-plus"}
            Создать
    %tbody
      - @desktops.each do |desktop|
        %tr
          %td= desktop.name
          %td= link_to desktop.ip, local_pings_path(desktop.ip)
          %td= desktop.mac
          %td= check_empty(desktop.room, "name")
          %td= check_empty(desktop.user, "full_name")
          %td
            = link_to desktop_path(desktop), :class => "btn" do
              %i{:class => "icon-zoom-in"}
              Просмотр
            = link_to edit_desktop_path(desktop), :class => "btn" do
              %i{:class => "icon-pencil"}
              Редактировать
            = link_to desktop_url(desktop), :method => :DELETE, :class => "btn btn-danger", :confirm => "Ты уверен?" do
              %i{:class => "icon-remove"}
              Удалить

- content_for :sidebar, render(:partial => 'sidebar')

= will_paginate @desktops,:class=>"pagination pagination-centered"