%h1 Пользователи

%hr

.well
  %table.table.table-striped
    %thead
      %tr
        %th Имя
        %th Фамилия
        %th Телефон
        %th Email
        %th Skype
        %th Офис
        %th
          = link_to new_user_path, :class => "btn btn-success" do
            %i{:class => "icon-plus"}
              Создать
    %tbody
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= check_empty(user, "phone")
          %td= user.email
          %td= user.skype
          %td= check_empty(user.room, "name")
          %td
            = link_to user_path(user), :class => "btn" do
              %i{:class => "icon-zoom-in"}
                Просмотр
            = link_to edit_user_path(user), :class => "btn" do
              %i{:class => "icon-pencil"}
                Редактировать
            = link_to user_url(user), :method => :DELETE, :class => "btn btn-danger", :confirm => "Ты уверен?" do
              %i{:class => "icon-remove"}
                Удалить

- content_for :sidebar, render(:partial => 'sidebar')