%h1 User list
#users
  %span.new-user-link
    = link_to 'Add user', new_user_path, :class => 'btn btn-info'

  - @users.each_slice(3) do |users|
    .row-fluid  
      - users.each do |u|
        .span4.well
          %p
            %i{:class => "icon-user"}
            = "#{u.first_name} #{u.last_name}"
          %p
            %i{:class => "icon-envelope"}
            = "#{u.email}"
          %p= "Skype: #{u.skype}"
          = link_to 'More', user_path(u.id), :class => 'btn btn-info'
          = link_to 'Edit', edit_user_path(u.id), :class => 'btn btn-inverse'