= form_for @search, :url => action_url, :html => {:method => :get, :class => 'well form-horizontal'} do |f|
  %p
    = f.label :up_between, "Поиск по дате"
    = f.text_field :up_between, :class => "datepicker"
  %p
    = f.label :ip_equals, "Поиск по ip"
    = f.text_field :ip_equals
  %button.btn{:type => "submit"} Найти
  = link_to "Сбросить", users_path, :class => 'btn btn-inverse'