%h1 
  = "#{@ip} #{@mac}"
  - if @assigned_user
    = " #{@assigned_user}"
  
%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th up
        %th down
    %tbody
      - if @pings.length > 0
        - @pings.each do |ping|
          %tr
            %td= ping.up.utc.strftime("%H:%M:%S, %d %b %Y")
            %td= ping.down.utc.strftime("%H:%M:%S, %d %b %Y")
        - if @redis
          %tr
            %td= @redis
            %td
      - else
        %tr
          %td{:colspan => 2}
            Активность не обнаружена

- content_for :sidebar, render(:partial => 'sidebar')

/ = will_paginate @users, :class=>"pagination pagination-centered"