%h1 
  = "#{@ip} #{@mac}"
  - if @assigned_user
    = " #{@assigned_user}"
  
%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th up
        %th down
    %tbody
      - @pings.each do |ping|
        %tr
          %td= ping.up.utc.strftime("%H:%M:%S, %d %b %Y")
          %td= ping.down.utc.strftime("%H:%M:%S, %d %b %Y")
      - if @redis
        %tr
          %td= @redis
          %td

/ = will_paginate @users, :class=>"pagination pagination-centered"