<p id="notice"><%= notice %></p>

<p>
  <b>Заголовок:</b>
  <%= @event.title %>
</p>

<p>
  <b>Начало:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Конец:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>Весь день:</b>
  <%= @event.all_day %>
</p>

<p>
  <b>Описание:</b>
  <%= @event.description %>
</p>


<%= link_to 'Редактировать', '#' , :onclick => "PopupEventEdit(#{@event.id.to_s});return false;"%>
<%= link_to 'Назад', events_path %>
<td><%= link_to 'Удалить', event_path(@event, :owner => "show"), :confirm => 'Вы уверены?', :method => :delete %></td>



