<p id="notice"><%= notice %></p>

<p>
  <b>Заголовок:</b>
  <%= @event.title %>
</p>

<p>
  <b>Начало в:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Конец в:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>Все дни:</b>
  <%= @event.all_day %>
</p>

<p>
  <b>Описание:</b>
  <%= @event.description %>
</p>


<%= link_to 'Редактировать', edit_event_path(@event) %>
<%= link_to 'Назад', calendar_path %>
<td><%= link_to 'Удалить', event_path(@event, :owner => "show"), :confirm => 'Вы уверены?', :method => :delete %></td>



