- unless current_user.is_admin?
  = link_to "Добавить запрос на материалы", "#", :onclick => "popupik(600, '#{new_teamleader_material_request_path}')"

- if current_user.is_teamleader?
  = link_to "Отправить запросы", send_requests_teamleader_material_requests_path, :confirm => "Точно отправить?"

%h2 Запросы на материалы

- if @material_requests.empty?
  %h3= t('teamleader.material_request.table_empty')
- else
  %table.material_requests
    %tr
      %th Date
      %th Priority
      %th Request
    = render @material_requests