%h1 Отчёты пользователя: #{@user.full_name} #{@user.department && @user_teamleader!= @user ? "(" + @user.department.name + ")" : ""}
-if @user.department && @user_teamleader!= @user
  -if @user_teamleader
    .report_department_info
      %dl
        %dt Отдел:
        %dd (#{@user.department.name})
        %dt Начальник отдела:
        %dd #{@user_teamleader.full_name}
-else
  .report_department_info
    %dl
      %dt Отдел:
      %dd (#{@user.department.name})
      %dt Начальник отдела:
      %dd #{@user_teamleader.full_name}

%hr

-unless @report_check
  .well{:style=>"text-align:center;"}
    = link_to new_teamleader_report_path, :class => 'btn btn-large btn-primary', :style=>"width:800px;" do
      Написать отчет

-if current_user.role=="teamleader"

  - if @report_unsended
    .well.teamleader_unsended
      .btn-group.report_edit
        = link_to teamleader_mail_send_teamleader_report_path(@report_unsended), :method => :PUT, :class => "report_edit btn btn-block btn-success" do
          %i{:class => "icon-envelope"}
          Отправить
        = link_to edit_teamleader_report_path(@report_unsended), :class => 'report_edit btn btn-block btn-warning' do
          %i.icon-pencil
          Редактировать
        = link_to teamleader_report_path(@report_unsended), :method => :DELETE, :class => "report_edit btn btn-block btn-danger", :confirm => "Ты уверен?" do
          %i{:class => "icon-remove"}
          Удалить

      .report_show_container
        %blockquote
          =simple_format(@report_unsended.body)
          %small
            Report updated at:
            =@report_unsended.updated_at.strftime("%d %b %Y")

      - @teamleader_users_reports_unsended.each do |user_report|
        .well.alert-info
          .report_show_container{:style=>"display:-moz-groupbox; height:auto; width:800px;cursor:text;"}
            %blockquote
              %h3 Отчёт пользователя: #{user_report.user.full_name}
              =simple_format(user_report.body)
              %small
                Report updated at:
                =user_report.updated_at.strftime("%d %b %Y")

  - @teamleader_users_reports_sended.each do |teamleader_report|
    .well.teamleader_sended
      .report_show_container
        %blockquote
          =simple_format(teamleader_report.body)
          %small
            Report updated at:
            =teamleader_report.updated_at.strftime("%d %b %Y")


        - teamleader_report.users_reports.each do |report|
          .well.alert-success
            .report_show_container{:style=>"display:-moz-groupbox; height:auto; width:800px;cursor:text;"}
              %blockquote
                %h3 Отчёт пользователя: #{report.user.full_name}
                =simple_format(report.body)
                %small
                  Report updated at:
                  =report.updated_at.strftime("%d %b %Y")


-else
  - if @report_unsended
    .well.alert-info
      .btn-group.report_edit
        = link_to edit_teamleader_report_path(@report_unsended), :class => 'report_edit btn btn-block btn-warning' do
          %i.icon-pencil
          Редактировать
        = link_to teamleader_report_path(@report_unsended), :method => :DELETE, :class => "report_edit btn btn-block btn-danger", :confirm => "Ты уверен?" do
          %i{:class => "icon-remove"}
          Удалить

      .report_show_container
        %blockquote
          =simple_format(@report_unsended.body)
          %small
            Report updated at:
            =@report_unsended.updated_at.strftime("%d %b %Y")

  - @report_sended.each do |report|
    .well.alert-success
      .report_show_container
        %blockquote
          =simple_format(report.body)
          %small
            Report updated at:
            =report.updated_at.strftime("%d %b %Y")

