= form_for(@domain, :html => {:class => 'well form-horizontal'}) do |f|
  -if @domain.errors.any?
    #error_explanation.alert.alert-error
      %a.close{"data-dismiss" => "alert", :href => "#"}
        ×
      %h2 Возникли ошибки:
      %ul
        - @domain.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :url, 'Url', :class => 'control-label'
      .controls
        = f.text_field :url, :class => 'input-xlarge', :value => "#{@domain.url ||'http://www.'}"
    .control-group
      = f.label :description, 'Информация', :class => 'control-label'
      .controls
        = f.text_area :description, :class => 'input-xxlarge', :id => 'nic', :style => "height:200px"
  .form-actions
    = f.submit (@domain.id?) ? 'Изменить' : 'Создать' , :class => 'btn btn-primary'
    = link_to "Назад", domains_path, :class => "btn"