= "Сотрудник #{@time_request.user.full_name} подал запрос на расширение месячного лимита времени до '#{@time_request.requested_time}' часов."
= "Пожалуйста #{link_to "рассмотрите", admin_time_request_url(@time_request)}, #{link_to "подтвердите", admin_time_request_approve_url(@time_request)} или #{link_to "отклоните", admin_time_request_decline_url(@time_request)} данную заявку".html_safe