%h1 Изменения пользователей

%table.table.table-striped
  %thead
    %tr
      %th Редактировал
      %th Кого
      %th Дата
      %th
  %tbody
    - @users_changes.each do |user|
      %tr
        %td= editor_name(user.editor)
        %td= link_to user.edited.full_name, teamleader_user_change_path(user.edited_id)
        %td= user.created_at.to_s(:db)
        %td
          = render :partial => 'changes', :locals => { :changes => user }
          = link_to "#changesModal#{user.id}", :'data-toggle' => :modal, :class => 'btn btn-inverse' do
            %i{:class => "icon-search"}
            Просмотр

= will_paginate @users_changes, :class=>"pagination pagination-centered"