%h1 Администраторы

%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th= sort_link @search, :name, "Admin name"
        %th= sort_link @search, :email, "Email"
        %th
          = link_to new_admin_admin_path, :class => "btn btn-success" do
            %i.icon-plus
            Создать
    %tbody
      - @admins.each do |admin|
        %tr
          %td= admin.name
          %td= admin.email
          %td
            = link_to admin_admin_path(admin), :class => "btn" do
              %i.icon-zoom-in
              Просмотр
            = link_to edit_admin_admin_path(admin), :class => "btn" do
              %i.icon-pencil
              Редактировать
            = link_to admin_admin_path(admin), :method => :DELETE, :class => "btn btn-danger", :confirm => "Ты уверен?" do
              %i.icon-remove
              Удалить

- content_for :sidebar, render(:partial => 'sidebar')

= will_paginate @admins,:class=>"pagination pagination-centered"