%tr{:class => "#{time_request.approved ? "btn-success" : time_request.approved.present? ? "btn-danger" : ""}" }
  %td= time_request.request_date
  %td= time_request.requested_time
  %td= time_request.message
  %td= link_to "edit", "#", :onclick => "popupik(600, '#{edit_teamleader_time_request_path(time_request)}')"
  %td= link_to "delete", teamleader_time_request_path(time_request), :method => :delete