%h1 Офисы

%hr

.well
  %table.table.table-striped.pretty
    %thead
      %tr
        %th= sort_link @search, :id, "id"
        %th= sort_link @search, :name, "Офис"
        %th Управляющий
        %th= sort_link @search, :desktops_count, "Кол-во ПК"
        %th
          = link_to new_room_path, :class => "btn btn-success" do
            %i{:class => "icon-plus"}
            Создать
    %tbody
      - @rooms.each do |room|
        %tr
          %td= room.id
          %td= room.name
          %td= check_empty(room.user, "full_name")
          %td= room.desktops_count
          %td
            = link_to room_constructor_path(room), :class => "btn" do
              %i{:class => "icon-cog"}
              Конструктор
            = link_to room_path(room), :class => "btn" do
              %i{:class => "icon-zoom-in"}
              Просмотр
            = link_to edit_room_path(room), :class => "btn" do
              %i{:class => "icon-pencil"}
              Редактировать
            = link_to room_url(room), :method => :DELETE, :class => "btn btn-danger", :confirm => "Ты уверен?" do
              %i{:class => "icon-remove"}
              Удалить

- content_for :sidebar, render(:partial => 'sidebar')

= will_paginate @rooms, :class=>"pagination pagination-centered"
