%h1 New room

= form_for @room do |f|
  -if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  %form.form-horizontal
    %fieldset
      .control-group
        %label.control-label{:for => "office"} Номер офиса
        = f.text_field :office
      .control-group
        %label.control-label{:for => "select01"} Ответственный
        .controls
          %select#select01{:type => "text"}
  .actions
    %button.btn.btn-primary{:type => "submit"} Назначить
    = link_to "Назад", root_url, :class => "btn"