%h1= "Офис #{@room.name}"

%hr

.well

  %table.table.table-striped
    %thead
      %tr
        %th Имя ПК
        %th IP
        %th MAC
        %th Пользователь
        %th 
    %tbody
      - @room.desktops.each do |desktop|
        %tr
          %td= desktop.name
          %td= desktop.ip
          %td= desktop.mac
          %td= (desktop.user.present?) ? (link_to "#{desktop.user.full_name}", user_path(desktop.user_id)) : ('пусто')
          %td
            = link_to 'Редактировать ПК', edit_desktop_path(desktop), :class => "btn"
  - if @room.desktops.empty?
    %p 
      %i.icon-exclamation-sign  
      Кабинет пуст