= form_for @gadget do |d|
  -if @gadget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gadget.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @gadget.errors.full_messages.each do |er|
          %li= er
  .field
    = d.label :ip
    = d.text_field :ip
  .field
    = d.label :mac
    = d.text_field :mac
  .field
    = d.label :user_id
    = select_tag :user_id, options_from_collection_for_select(@user, :id, :first_name)
  .actions
    = d.submit 'Save'
