- related_desktops = []
%h1 Конструктор

%span.alerts{:style => "display:none"}

.well.clearfix

  #desk-pannel.navbar.navbar-inverse
    .navbar-inner
      .container-fluid
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Прямой стол
              %b.caret
            %ul.dropdown-menu
              %li
                %a#horizontation.addLine{:href => "#"} Горизонтальный
              %li
                %a#vertication.addLine{:href => "#"} Вертикальный
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Угловой стол
              %b.caret
            %ul.dropdown-menu
              %li
                %a#nw.addAngle{:href => "#"} 1
              %li
                %a#ne.addAngle{:href => "#"} 2
              %li
                %a#sw.addAngle{:href => "#"} 3
              %li
                %a#se.addAngle{:href => "#"} 4
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Устройства
              %b.caret
            %ul.dropdown-menu
              %li
                %a#d-router.addOfficeDevice{:href => "#"} Роутер
              %li
                %a#d-switch.addOfficeDevice{:href => "#"} Свич
              %li
                %a#d-server.addOfficeDevice{:href => "#"} Сервер
              %li
                %a#d-printer.addOfficeDevice{:href => "#"} Принтер
  #schema-wrapper
    .room.well{:id => "room_#{@room_id}"}
      - @room_plan.workplaces.each do |w|
        .workplace{:title => "#{w.title}", :class => "#{w.workplace_type} #{w.workplace_form}", :style => "top:#{w.top}px;left:#{w.left}px", :id => "workplace_#{w.id}"}
          - if w.desktop
            - related_desktops << w.desktop
            %a.desktop{:title => "#{w.desktop.name}", :"data-trigger" => :hover, :id => "desktop_#{w.desktop.id}", "data-content" => "IP: #{w.desktop.ip}<br />MAC: #{w.desktop.mac}<br />User: #{w.desktop.user.try('full_name')}", "data-original-title" => "A Title", :href => "#", :rel => "popover"}
    #trash.well.progress-danger.progress-sriped
  #desktops.well
    %h3 Компьютеры
    - (@desktops - related_desktops).each do |d|
      %a.desktop{:title => "#{d.name}", :id => "desktop_#{d.id}", :"data-trigger" => :hover, :"data-content" => "IP: #{d.ip}<br />MAC: #{d.mac}<br />User: #{d.user.try('full_name')}", "data-original-title" => "A Title", :href => "#", :rel => "popover"}