%h1 Добавить подсеть

%hr

= form_for([:admin, :local_pings, @network], :html => {:class => "well form-horizontal"}) do |f|
  -if @network.errors.any?
    #error_explanation
      %h2= "#{pluralize(@network.errors.count, "error")} какая-то ошибка, не может сохранить:"
      %ul
        - @network.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :network, 'Подсеть', :class => 'control-label'
      .controls
        = f.text_field :network, :class => 'input-xlarge'
    .form-actions
      = f.submit 'Добавить' , :class => 'btn btn-primary'