%h1 Добавить подсеть

%hr

= form_for([:admin, :local_pings, @network], :html => {:class => "well form-horizontal"}) do |f|
  -if @network.errors.any?
    #error_explanation.alert.alert-error
      %a.close{"data-dismiss" => "alert", :href => "#"}
        ×
      %h2 Возникли ошибки:
      %ul
        - @network.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :network, 'Подсеть', :class => 'control-label'
      .controls
        = f.text_field :network, :class => 'input-xlarge'
    .form-actions
      = f.submit 'Добавить' , :class => 'btn btn-primary'