= form_for [:admin, @search], :url => admin_users_path, :html => {:method => :get, :class => 'well form-horizontal'} do |f|
  .input-medium.search-query{:type => "text"}
    %p
      = f.label :first_name_equals, "Введите имя"
      = f.text_field :first_name_equals
    %p
      = f.label :last_name_equals, "Введите фамилию"
      = f.text_field :last_name_equals
    %p
      = f.label :email_equals, "Введите email"
      = f.text_field :email_equals
    %p
      = f.label :skype_equals, "Введите skype"
      = f.text_field :skype_equals
    %button.btn{:type => "submit"} Найти
    = link_to "Сбросить", admin_users_path, :class => 'btn btn-inverse'
