%h1
  Пользователи
  .pull-right
    -if @deleted!="1"
      .users_real
        = link_to 'Удаленные', admin_users_path(:deleted => 1, :format => :js), :class => "btn btn-danger", :id => "deleted_users", "data-loading-text" => "???", remote: true
      .users_deleted.hide
        = link_to 'Действующие', admin_users_path(:deleted => 0, :format => :js), :class => "btn btn-success", :id => "real_users", "data-loading-text" => "???", remote: true
    -else
      .users_real.hide
        = link_to 'Удаленные', admin_users_path(:deleted => 1, :format => :js), :class => "btn btn-danger", :id => "deleted_users", "data-loading-text" => "???", remote: true
      .users_deleted
        = link_to 'Действующие', admin_users_path(:deleted => 0, :format => :js), :class => "btn btn-success", :id => "real_users", "data-loading-text" => "???", remote: true
.well
  = render 'users_data'
- content_for :sidebar, render(:partial => 'sidebar')

