%table.table.table-striped.pretty
  %thead
    %tr
      %th Название
      %th
        -if @deleted!="1"
          = link_to new_teamleader_department_path, :class => "btn btn-success" do
            %i{:class => "icon-plus"}
            Создать
  %tbody
    -@departments.each do |department|
      %tr
        %td= department.name
        %td
          -if @deleted!="1"
            = link_to edit_teamleader_department_path(department), :class => "btn" do
              %i{:class => "icon-pencil"}
              Редактировать
            = link_to teamleader_department_path(department), :method => :DELETE, :class => "btn btn-danger", :confirm => "Ты уверен?" do
              %i{:class => "icon-remove"}
              Удалить
          -else
            = link_to teamleader_restore_department_path(department), :class => "btn btn-success" do
              %i.icon-plus
              Восстановить